---
import Layout from '../layouts/Layout.astro';
import DeliveryTable from '../components/DeliveryTable.astro';
---

<Layout>
  <h1>Cobertura de Delivery</h1>
  <p style="margin-bottom: 1rem;">Realizamos envíos a los siguientes distritos con total seguridad.</p>
  <DeliveryTable />
</Layout>
