---
import Layout from "../layouts/Layout.astro";
import hero from "../assets/hero_result.webp";
import Products from "../components/Products.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- Hero -->
  <div
    class="relative bg-gradient-to-r from-purple-600 to-blue-600 h-screen text-white overflow-hidden"
  >
    <div class="absolute inset-0">
      <img
        src={hero.src}
        alt="Background Image"
          loading="eager" 
  decoding="async" 
  fetchpriority="high"
        class="object-cover object-center w-full h-full"
      />
      <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>

    <div
      class="relative z-10 flex flex-col justify-center items-center h-full text-center"
    >
      <h1 class="text-5xl font-bold leading-tight mb-4">
        Qumara, natural y sabroso
      </h1>
      <p class="text-lg text-gray-300 mb-8">
        Comienza bien tu día con un desayuno natural o termina con una
        hamburguesa sabrosa. ¡Delivery gratis en tu zona!
      </p>
      <a
        href="https://wa.me/51967159171?text=Hola%2C%20vengo%20desde%20la%20p%C3%A1gina%20web%20y%20quiero%20realizar%20un%20pedido."
        target="_blank"
        class="bg-yellow-200 text-gray-900 hover:bg-yellow-400 py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg"
      >
        HAZ TU PEDIDO
      </a>
    </div>
  </div>

  <!-- Beneficios -->
  <section class="py-12 bg-white text-center">
    <h3 class="text-2xl font-bold mb-10">¿Por qué elegir Qumara?</h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 px-4 md:px-12">
      <div class="benefit-card">
        <div class="mb-4 text-green-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 mx-auto text-green-600"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M5 21c2-8 8-14 14-14a7 7 0 01-7 7H5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        <h4 class="font-semibold mb-2">Ingredientes Naturales</h4>
        <p class="text-sm text-gray-600">
          Seleccionamos los mejores ingredientes frescos y naturales para
          garantizar sabor y calidad en cada bocado.
        </p>
      </div>
      <div class="benefit-card">
        <div class="mb-4 text-yellow-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 mx-auto"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M3 17h18l-2-5h-4V5H3z M7 17a2 2 0 100-4 2 2 0 000 4z M17 17a2 2 0 100-4 2 2 0 000 4z"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        <h4 class="font-semibold mb-2">Delivery Gratuito</h4>
        <p class="text-sm text-gray-600">
          Entrega gratis en zonas seleccionadas. Pedidos mayores a S/50 tienen
          delivery GRATIS a todo Trujillo.
        </p>
      </div>

      <div class="benefit-card">
        <div class="mb-4 text-orange-500">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-10 w-10 mx-auto"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M13 10V3L4 14h7v7l9-11h-7z"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
        <h4 class="font-semibold mb-2">Rápido y Confiable</h4>
        <p class="text-sm text-gray-600">
          Preparamos tu pedido al momento y lo entregamos en tiempo récord.
          Calidad y rapidez garantizada.
        </p>
      </div>
    </div>
  </section>

  <!-- Productos -->
  <Products />

  <!-- Zonas de delivery -->
  <!-- Zonas de delivery -->
  <section class="bg-green-900 text-white text-center py-10 px-4 mb-16">
    <h3 class="max-w-4xl mx-auto text-2xl font-bold mb-4">
      Zonas de Delivery Gratis
    </h3>
    <p class="mb-6">Llevamos tu comida favorita sin costo adicional a:</p>

    <div class="flex flex-wrap justify-center gap-4 mb-4">
      <span
        class="bg-yellow-200 text-black px-4 py-1 rounded-full font-semibold"
        >PRIMAVERA</span
      >
      <span
        class="bg-yellow-200 text-black px-4 py-1 rounded-full font-semibold"
        >QUINTANAS</span
      >
      <span
        class="bg-yellow-200 text-black px-4 py-1 rounded-full font-semibold"
        >SANTA INÉS</span
      >
      <span
        class="bg-yellow-200 text-black px-4 py-1 rounded-full font-semibold"
        >PABLO CASAL</span
      >
      <span
        class="bg-yellow-200 text-black px-4 py-1 rounded-full font-semibold"
        >MOCHICA</span
      >
      <span
        class="bg-yellow-200 text-black px-4 py-1 rounded-full font-semibold"
        >NICOLÁS DE PIEROLA</span
      >
    </div>

    <p class="text-sm mb-4">
      ¿Tu zona no está en la lista? <strong>¡Consúltanos por WhatsApp!</strong>
    </p>

    <a
      href="https://wa.me/51967159171?text=Mi%20zona%20donde%20vivo%20no%20est%C3%A1%20con%20delivery%20gratis%2C%20%C2%BFcu%C3%A1nto%20me%20cobras%20a%20...%3F"
      target="_blank"
      class="inline-block transform hover:scale-105 bg-yellow-300 hover:bg-yellow-400 text-black font-semibold px-6 py-2 rounded-full shadow transition"
    >
      📲 Consultar por WhatsApp
    </a>
  </section>
</Layout>
