---
---
<footer>
  <p>&copy; 2024 Señora Qumara. Todos los derechos reservados.</p>
</footer>

<style>
  footer {
    text-align: center;
    padding: 2rem;
    background-color: var(--text-color);
    color: var(--white);
    margin-top: 2rem;
  }
</style>
