---
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qumara</title>
</head>
<body class="font-sans bg-white text-gray-800">

  <!-- Header -->
  <header class="bg-green-900 text-white px-6 py-4 flex justify-between items-center">
    <h1 class="text-xl font-bold">QUMARA</h1>
	<a href="#productos" class="bg-green-700 hover:bg-green-600 text-sm px-4 py-2 rounded">VER PRODUCTOS</a>
  </header>

  <slot />


  <!-- Footer -->
  <footer class="bg-green-900 text-white text-center py-6">
    <h1 class="font-bold text-lg mb-2">QUMARA</h1>
    <p class="text-sm">© 2025 Qumara. Todos los derechos reservados. | Trujillo, Perú</p>
  </footer>

</body>
</html>
